:root {
   --primary-text-color: #757575;
   --title-text-color: #212121;
   --accent-color: #2196F3;
   --accent-white-color: #F5F4FA;
   --footer-color: rgba(255, 255, 255, 0.6)
}

ul {
   list-style: none;
}

.page {
   color: var(--primary-text-color);
   background-color: #E5E5E5;

   font-family: "Roboto", serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
}

/* стиль Logo*/
.logo {
   color: var(--title-text-color);
   text-decoration: none;

   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.17;
}

.logo:hover,
.logo:active,
.logo:focus {
   color: var(--primary-text-color);
}


/* стиль хедера*/
.header {
   font-weight: 500;
   line-height: 1.17;
   letter-spacing: 0.02em;

}

.style-nav .link {
   color: var(--title-text-color);
}

.style-nav .link:hover,
.style-nav .link:focus {
   color: var(--accent-color);
}

/*НЕ ЗАЛИШАЄТЬСЯ ПІДСВІЧЕННИМ!!!!*/
.site-nav .link.current {
   color: var(--accent-color);
}

/* стиль info*/
.mail {
   color: var(--accent-color);
}

.mail:hover,
.mail:focus {
   color: var(--title-text-color);
}

.tel {
   color: var(--primary-text-color);
   text-decoration: none;
}

.tel:hover,
.tel:focus {
   color: var(--title-text-color);
}

/* стиль Герой*/
.hero-title {
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   letter-spacing: 0.06em;

}

.hero .hero-title {
   color: #FFFFFF;
}

/* стиль Особливості*/
.section {
   color: var(--primary-text-color);
}

.section-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
}

.section-subtitle {
   font-weight: 700;
   line-height: 1.14;
}

.section-name {
   font-weight: 500;
   line-height: 1.18;
}

.section-position {
   font-size: 16px;
   line-height: 1.18;
}

.section .section-title {
   color: var(--title-text-color);
}

.section .section-subtitle {
   color: var(--title-text-color);
}

.section .section-text {
   color: var(--primary-text-color);
}

/* стиль Команда*/
.section .section-name {
   color: var(--title-text-color);
}

.section .section-position {
   color: var(--primary-text-color);
}

/* стиль Футеру*/
.footer {
   color: var(--title-text-color);
}

.address-footer {
   color: #FFFFFF;
   text-decoration: none;
}

.mail-footer {
   color: var(--footer-color);
}

.mail-footer:hover,
.mail-footer:focus {
   color: var(--title-text-color);
}

.tel-footer {
   color: var(--footer-color);
   text-decoration: none;
}

.tel-footer:hover,
.tel-footer:focus {
   color: var(--title-text-color);
}

/* стиль Головної кнопки та кнопок на другій страниці*/
.button {
   background-color: var(--accent-color);
   color: #FFFFFF;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.85;
   letter-spacing: 0.06em;
   cursor: pointer;
}

.button:hover {
   background-color: var(---accent-white-color);
   color: var(--title-text-color);
}

/*.button {
   cursor: pointer;
}*/

/* стиль Другої страниці*/

.content .caption {
   color: var(--title-text-color);
}

.content .caption-title {
   color: var(--title-text-color);
}

.content .caption-text {
   ;
}

/* це для кнопок!!!   cursor: pointer*/

.button .primary {
   background-color: var(--accent-white-color);
   color: var(--title-text-color);
}

.button-secondary {
   background-color: var(--accent-white-color);
   color: var(--title-text-color);
}

.button-secondary:hover,
.button-secondary:focus {
   background-color: var(--accent-color);
   color: #FFFFFF;
}

.current {
   color: var(--accent-color)
}